
.testimonial__carousel {
	position: relative;
	overflow: hidden;
	background: #ffffff;
	padding: 75px 60px 90px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 15px 60px rgba(67, 69, 70, 0.1);
	box-shadow: 0px 15px 60px rgba(67, 69, 70, 0.1);
}

.testimonial__carousel:after {
	position: absolute;
	content: "";
	left: calc(50% - 85px);
	bottom: -115px;
	width: 170px;
	height: 170px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	-webkit-box-shadow: inset 0 0 21px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 0 21px rgba(0, 0, 0, 0.2);
}

.testimonial__carousel button.slick-arrow {
	font-size: 28px;
	color: #111111;
	position: absolute;
	left: 30px;
	top: 50%;
	display: inline-block;
	height: 50px;
	width: 50px;
	margin-top: -25px;
	background: transparent;
	border: none;
}

.testimonial__carousel button.slick-arrow.slick-next {
	left: auto;
	right: 30px;
}

.testimonial__carousel button.slick-arrow:before {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 20px;
	width: 20px;
	border-left: 2px solid rgba(0, 0, 0, 0.2);
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	content: "";
	border-radius: 0 0 0 4px;
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.testimonial__carousel button.slick-arrow:after {
	position: absolute;
	right: 0;
	top: 0;
	height: 20px;
	width: 20px;
	border-right: 2px solid rgba(0, 0, 0, 0.2);
	border-top: 2px solid rgba(0, 0, 0, 0.2);
	content: "";
	border-radius: 0 4px 0 0;
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.testimonial__carousel button.slick-arrow:hover:before {
	height: 100%;
	width: 100%;
	border-radius: 4px;
}

.testimonial__carousel button.slick-arrow:hover:after {
	height: 100%;
	width: 100%;
	border-radius: 4px;
}

.testimonial__item {
	text-align: center;
}

.testimonial__item p {
	font-size: 24px;
	color: #111111;
	font-weight: 300;
	font-style: italic;
	line-height: 48px;
}

.testimonial__client {
	margin-top: -75px;
	margin-bottom: 50px;
}

.testimonial__client .slick-track {
	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}

.testimonial__client .slick-slide {
	padding-top: 80px;
}

.testimonial__client .slick-slide {
	width: 100px;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.testimonial__client .slick-slide.slick-center {
	width: 180px;
}

.testimonial__client .testimonial__client__pic img {
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.slick-active.slick-center {
	padding-top: 35px;
}

.slick-active.slick-center .testimonial__client__pic {
	height: 150px;
	width: 150px;
	position: absolute;
	left: 0px;
	top: -30px;
	right: -15px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	padding-top: 5px;
}

.slick-active.slick-center .testimonial__client__pic img {
	margin: 0 auto;
	width: 150px;
	height: 150px;
}

.slick-active.slick-center .testimonial__client__text {
	display: block;
	margin-top: -8px;
}

.testimonial__client__item {
	text-align: center;
	cursor: pointer;
}

.testimonial__client__item .testimonial__client__pic {
	height: 70px;
	width: 70px;
	margin: 0 auto;
}

.testimonial__client__item .testimonial__client__pic img {
	border-radius: 50%;
}

.testimonial__client__item .testimonial__client__text {
	display: none;
}

.testimonial__client__item h5 {
	color: #111111;
	font-weight: 600;
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	margin-bottom: 5px;
}

.testimonial__client__item span {
	font-size: 14px;
	color: #dfa667;
	display: block;
}

.logo__carousel.owl-carousel .owl-item img {
	display: inline-block;
	width: auto;
}

.logo__carousel .logo__carousel__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 62px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}